.container{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    background:'#3b4464';
    height: 95vh;
}
.sub-container{
    display: flex;
    flex-direction: column;
    height: 250px;
    background: #97a0d8;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}
.section-row-container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding: 10px;
    font-family: 'DM Sans', sans-serif;
    justify-content: space-between;
}
.card-heading{
    font-size: 35px;
    padding: 25px;
    border-radius: 25px;
    background: #f6cda4;
    font-weight: 700;
}